<div class="modal fade" id="modal_update" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="modal_update_content" class="modal-content">
            
        </div>
    </div>
</div>