@layout('site')
@section('content')
    <table id="tab_clientes" class="table table-striped table-bordered" width="100%"></table>
    {{--Js by this view--}}
    {{script('/js/site/cliente.js')}}
@endsection