<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>QR Generator</title>
        {{--Framework's CSS--}}
        {{style('/css/adminlte.min.css')}}
        {{style('/css/all.min.css')}}
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        {{--Framework's JS--}}
        {{script('/js/jquery.min.js')}}
        {{script('/js/adminlte.min.js')}}
    </head>