<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>QR Generator</title>
        {{--Framework's CSS--}}
        {{style('/css/all.min.css')}}
        {{style('/css/select2.min.css')}}
        {{style('/css/select2-bootstrap4.min.css')}}
        {{style('/css/adminlte.min.css')}}
        {{style('/css/main.css')}}
        {{style('/css/sweetalert2.min.css')}}
        {{style('/css/toastr.min.css')}}
        {{style('/css/dataTables.bootstrap4.min.css')}}
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">    
    </head>