@layout('site')
@section('content')
    @!component('components.data_table', data_table = data_table)
    @!component('components.modal_update')
    {{--Js by this view--}}
    {{script('/js/site/users.js')}}
@endsection